# Keep backend Docker context small. Dockerfile copies only ./repo and ca.pem.

.git
.idea
.vscode

app.jar
.last_build_hash
repo/mongo/data-main
repo/mongo/data-replica-1
repo/mongo/data-replica-2
repo/mongo/keyfile
repo/mongo/certs-main
repo/mongo/certs-replica-1
repo/mongo/certs-replica-2
repo/mongo/mongod.log
repo/mongo-dev
repo/redis/node1
repo/redis/node2
repo/redis/node3
repo/redis/node4
repo/redis/node5
repo/redis/node6
repo/redis/node7
repo/redis/node8
repo/redis/node9
repo/redis/certs-node-1
repo/redis/certs-node-2
repo/redis/certs-node-3
repo/redis/certs-node-4
repo/redis/certs-node-5
repo/redis/certs-node-6
repo/redis/certs-node-7
repo/redis/certs-node-8
repo/redis/certs-node-9
repo/redis-dev
repo/build
repo/.gradle
repo/**/build
repo/**/target
repo/**/.gradle
repo/**/playwright-report
repo/**/coverage
repo/**/test-results
repo/**/tmp
repo/**/*.log

